body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

.header,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}

@media (min-height: 40em) and (min-width: 48em) {
  body {
    overflow-y: hidden;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

.invisible {
  visibility: hidden;
  display: none;
}

.container-main {
  width: 100%;
  display: block;
  height: 70vh;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  overflow-y: scroll;
}

.container-messages {
  width: 100%;
  min-height: 70vh;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
   -ms-transform: rotate(180deg);
       transform: rotate(180deg);
}

.container-input input[type="text"] {
  min-height: 2.5em;
  line-height: 1em;
  font-size: 0.9em;
}

.input-spacing {
  visibility: hidden;
  display: none;
}

.avatar {
  width: 60px;
  height: 60px;
  margin-left: 4px;
  box-shadow: 0 0 4px RGBA(100, 100, 100, 0.4);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
    -o-transform: scale(1);
   -ms-transform: scale(1);
       transform: scale(1);
  -webkit-transition: 0.5s;
          transition: 0.5s;
}

.avatar.border {
  border-width: 2px !important;
}

.message {
  padding-top: 0.3rem;
  padding-left: 0.1rem;
  margin-top: 0.4em;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
   -ms-transform: rotate(180deg);
       transform: rotate(180deg);
  -webkit-transition: background 0.5s;
          transition: background 0.5s;
}

.message:hover {
  background: rgba(0, 0, 0, 0.05);
}

.message:hover .avatar {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
   -ms-transform: scale(1.05);
       transform: scale(1.05);
}

.message .media-body {
  font-size: 1em;
  margin-top: 0.3rem;
}

.message h5 {
  font-weight: bold;
  font-size: 1em;
}

.message .timestamp {
  font-size: 0.8em;
  color: rgb(100, 100, 100);
  margin-top: -1em;
}

@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  .input-spacing {
    visibility: visible;
    display: block;
  }
}